/******************************************************/
/* General Styling */

* {
  box-sizing: border-box;
}

* {
    font-family: "Arial", Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    font-family: 'Noto Serif', serif;
}

h2, h3 {
    font-family: 'Ubuntu', serif;
}

i {
    font-size: 30px;
    font-family: 'Honk', system-ui;

}

body {
    margin: 0px;
}
/******************************************************/
/*Specific Stylings */

.header {
    padding: 48px 16px;
    text-align: center;
    background-color: #aab8ae;
}

.main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 48px 16px;
    background-color: blanchedalmond;
}