/******************************************************/
/* General Styling */

*, 
::before, 
::after {
  box-sizing: border-box;
}

* {
    font-family: "Arial", Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    font-family: 'Noto Serif', serif;
}

h2, h3 {
    font-family: 'Noto Serif', serif;
}

i {
    margin: 64px;
    font-size: 30px;

}

body {
    margin: 0px;
}
/******************************************************/
/*Specific Stylings */

.header {
    padding: 48px 16px;
    text-align: center;
    background-color: #aab8ae;
}

.nav-link {
    padding: 4px 8px;
    color: rgb(13, 0, 255);
  }
  
  .nav-link:hover {
    color: black;
    background-color: rgb(255, 255, 255);
  }
  
  .nav-link:active {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
  
  .nav-link + .nav-link {
    margin-left: 16px;
  }

.main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 48px 16px;
    background-color: blanchedalmond;
}

.main > * + * {
    margin-top: 48px;
  }
  
  .main > * {
    border-top: 2px solid grey;
  }

.main > *:first-child {
    border-top-color: black;
  }
  